* {
    box-sizing: border-box;
}

* {
    margin : 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color          : inherit;
    text-decoration: none;
}

body {
    background-color: #eee;
}

.globalHeader {
    margin: 20px;
}

@media (min-width:500px) {
    .globalHeader {
        max-width: 400px;
        margin   : 100px auto;
    }
}

.searchForm {
    display        : flex;
    justify-content: space-between;
}

.searchForm>input {
    height      : 40px;
    width       : 100%;
    margin-right: 10px;
    border      : 1px solid #ddd;
    padding     : 0 8px;
    font-size   : 16px;
}

.searchForm>button {
    padding         : 0 20px;
    background-color: #334D74;
    border          : none;
    color           : white;
    border-radius   : 4px;
    font-size       : 16px;
    white-space     : nowrap;
}

.globalMain {

    margin: 0 20px;
}

@media (min-width:500px) {
    .globalMain {
        max-width   : 900px;
        margin-left : auto;
        margin-right: auto;
    }
}

.siteList {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;
}


.siteList>li {
    margin-bottom: 10px;
}

@media (min-width:500px) {
    .siteList {
        margin-right   : -25px;
        justify-content: flex-start;
    }

    .siteList>li {
        margin-right : 25px;
        margin-bottom: 25px;
    }

    .siteList .site>.close {
        display: none;
    }
}


.siteList .site {
    width           : 160px;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
    padding         : 10px 0;
    background-color: #fff;
    flex-wrap       : no-wrap;
    position        : relative;
    cursor          : pointer;
}

.siteList .site>.logo {
    width          : 64px;
    height         : 64px;
    font-size      : 64px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    text-transform : uppercase;
}

.siteList .site>.link {
    font-size : 16px;
    margin-top: 4px;
}

.siteList .site>.close {
    position: absolute;
    top     : 0px;
    right   : 5px;


}

.siteList .site:hover>.close {
    display: block;
}

.siteList .addButton {
    padding         : 10px 0;
    background-color: #fff;
    width           : 160px;
    display         : flex;
    justify-content : center;
    align-items     : center;
    flex-direction  : column;
}

.siteList .addButton .icon {
    width : 60px;
    height: 60px;
}

.siteList .addButton .text {
    font-size : 16px;
    margin-top: 4px;

}